body {
  font-family: "Roboto";
  margin: 0;
  width: 100%;
}

a:link {
  text-decoration: none;
}

a:active {
  color: #353535;
}

.logo {
  width: 15em;
  display: block;
  margin: 0px auto;
  height: 63px;
}

.heading_container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.heart_container {
  display: flex;
  flex-direction: row;
}

.fa-arrow-left {
  font-size: 1.5rem;
  margin-top: 20px;
  margin-left: 20px;
}

.bastille-img {
  object-fit: cover;
  margin-top: -60px;
  height: 400px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
  top: 60px;
  z-index: 1;
}

.heart_container {
  display: flex;
}

.transparent-heart {
  position: absolute;
  top: 60px;
  right: 20%;
  font-size: 25px;
  color: #2e2e2e;
}

.solid-heart {
  position: absolute;
  top: 60px;
  right: 20%;
  font-size: 25px;
  background: transparent;
  color: transparent;
}

.solid-heart:hover {
  background: linear-gradient(#ee73da 40%, #9e59dc);
  background-clip: border-box;
  background-clip: text;
  -webkit-background-clip: text;
}

main {
  margin-top: 0;
  padding-top: 0px;
  background-color: #f6f6f6;
  width: 100vw;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: relative;
  z-index: 2;
}

h1 {
  font-family: "Shrikhand";
  padding-top: 30px;
  padding-left: 30px;
}

h2 {
  font-weight: 100;
  position: relative;
  margin-bottom: 2px;
  margin-left: 30px;
}

h3 {
  font-weight: 400;
  padding-top: 10px;
  margin-top: 0px;
  font-size: 18.5px;
}

h4 {
  font-weight: 100;
  margin-top: -10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.price {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.card {
  background-color: #ffffff;
  display: flex;
  height: 68px;
  width: 349px;
  /*
  margin-top:20px;
  */
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  padding-left: 15px;
  filter: drop-shadow(0px 5px 4px #c6c6c6);
  overflow: hidden;
}

.card-1 {
  animation-name: fade;
  animation-duration: 600ms;
  margin-top: 40px;
}

.card-2 {
  animation-name: fade;
  animation-duration: 900ms;
}

.card-3 {
  animation-name: fade;
  animation-duration: 1200ms;
  margin-bottom: 60px;
}

.card-4 {
  animation-name: fade;
  animation-duration: 1500ms;
  margin-top: 40px;
}

.card-5 {
  animation-name: fade;
  animation-duration: 1800ms;
}

.card-6 {
  animation-name: fade;
  animation-duration: 2100ms;
  margin-bottom: 60px;
}

.card-7 {
  animation-name: fade;
  animation-duration: 2400ms;
  margin-top: 40px;
}

.card-8 {
  animation-name: fade;
  animation-duration: 2700ms;
}

.card-9 {
  animation-name: fade;
  animation-duration: 3000ms;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.card-container-one {
  height: 100%;
  width: 75%;
}

b {
  margin-right: 30px;
  margin-top: -10px;
  position: relative;
  left: 75px;
  transform: translateX(100%);
  transition: all 400ms;
}

.card:hover b {
  position: relative;
  left: 10px;
  transform: translateX(0);
}

.card-container-two {
  height: 100%;
  width: 25%;
}

.checkmark {
  color: #ffffff;
  font-size: 30px;
}

.fa-circle-check {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover .checkmark {
  animation-name: spin;
  animation-duration: 400ms;
  animation-delay: 300ms;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.card:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 25%;
  background-color: #99e2d0;
  z-index: -1;
  transform: translateX(100%);
  transition: all 400ms;
}

.card:hover:after {
  transform: translateX(0);
}

.underline {
  background-color: #99e2d0;
  height: 5px;
  position: absolute;
  width: 70px;
  margin-top: 3px;
  margin-left: 30px;
}

.button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.button {
  color: #ffffff;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.6px;
  background-image: linear-gradient(#ee73da 40%, #9e59dc);
  border: none;
  width: 217px;
  height: 50px;
  border-radius: 30px;
  filter: drop-shadow(10px 6px 4px #c6c6c6);
  margin-top: 30px;
  margin-bottom: 50px;
  transition: all 0.4s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-image: linear-gradient(#ee8cdd 40%, #ba79f3);
  filter: drop-shadow(20px 14px 10px #747373);
}

footer {
  background-color: #353535;
  height: 198px;
  margin: 0px;
}

.footer_logo {
  width: 25%;
  margin-left: 10%;
  padding-top: 20px;
}

.contact {
  color: #ffffff;
}

footer ul {
  list-style: none;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

li.fork_spoon_icon::before {
  font-family: FontAwesome;
  content: "\f2e7";
}

li.handshake_icon::before {
  font-family: FontAwesome;
  content: "\f4c4";
}

li {
  margin-bottom: 10px;
}

@media only screen and (min-width: 600px) and (max-width: 769px) {
  .soup {
    font-size: 26px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1139px) {
  .card {
    width: 80%;
    height: 120px;
  }
  .fa-circle-check {
    height: 120px;
    font-size: 60px;
  }
  h1 {
    padding-left: 20%;
  }
  h3 {
    font-size: 30px;
  }
  h4 {
    font-size: 23px;
    text-overflow: ellipsis;
  }
  b {
    padding-top: 3px;
    font-size: 20px;
  }
  .footer_logo {
    padding-top: 40px;
    margin-left: 40%;
    padding-bottom: 25px;
  }
  footer ul {
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1140px) {
  .grid_container {
    display: grid;
    grid-template-areas: "1fr 1fr 1fr";
  }
  .transparent-heart {
    right: 30%;
  }
  .solid-heart {
    right: 30%;
  }
  .fa-circle-check {
    height: 68px;
  }
  h1 {
    padding-left: 40%;
  }
  .footer_logo {
    padding-top: 40px;
    margin-left: 40%;
    padding-bottom: 25px;
  }
  footer ul {
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=bastille.css.map */
