$color-primary: #f6f6f6;
$color-secondary:#ffffff;
$icon-color:#7e7e7e;
$hover-main:#f5edff;
$gradient-primary:linear-gradient(#ee73da 40%, #9e59dc);
$badge:#9356dc;
$focus:#99e2d0;
$shadow:#c6c6c6;
$text-footer:#353535;